nav{
  padding-top: 3%;
  padding-bottom: 3%;

}


nav div{
  display: inline-block;
}
nav div:first-child{

  width: 30%;
}
nav div:last-child{
  width: 70%;
  text-align: right;
}
nav div:last-child a{
  margin-left: 2.5%;
}
.container{

  margin-left: 8%;
  margin-right: 8%;


}
nav:first-child{
  font-size: 30px;
}
nav div:last-child a{
  font-size: 20px;
}
